body{
    box-sizing:content-box;
    margin-left: 30px;
}

.category-card{
    padding: 20px 9px;
    border-radius: 6px;
    border: 2px solid #eef0f6;
    height: 92px;
    padding-top: 12px;
}
.category-card:hover {
    background-color: #2b4eff;
    border-color: #2b4eff;
    box-shadow: 0px 20px 30px 0px rgba(4,23,118,0.3);
}
.category-card div i{
    font-size: 30px;
    color: #2b4eff;
}
.category-card:hover a{
    background-color: #2b4eff;
    color: white;
}
.category-card:hover div i{
    color: white;
}
.category-card:hover .txt-des{
    color: white;
}
.category-card .txt-des{
    color: #2b4eff;
}